.mask {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    cursor: url('../img/close.png'), pointer;
}

.show {
    background-size: contain;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

%textBefore {
    content: "";
    white-space: pre;
    display: inline-block;
    font-size: 2.2rem;
    color: #f6f6f6;
    position: absolute;
    top: 480px;
    line-height: 1.5;
}

.show-pic1,
.show-pic2,
.show-pic3 {
    background: url('../img/show_pic1.png') no-repeat center center;
    width: 500px;
    height: 650px;
    background-size: contain;
    top: -120px;

    &:before {
        @extend %textBefore;
    }
}

.show-pic2 {
    background: url('../img/show_pic2.png') no-repeat center center;
    width: 700px;
    height: 500px;
    background-size: contain;
    top: -200px;

    &:before {
        content: "The cold and deep water reflects all glitter lights, \A try to find myself in the reflection of that water, \A but immaculate brightness dazzled my eyes. \A - Christmas in Berlin, Germany";
    }
}

.show-pic3 {
    background: url('../img/show_pic3.png') no-repeat center center;
    height: 700px;
    background-size: contain;
    top: -120px;

    &:before {
        content: "Cacth me if you can.";
        top: 660px;
        left: 100px;
    }
}

.show-stick1,
.show-stick2,
.show-stick3 {
    background: url('../img/show_stick1.png') no-repeat center center;
    width: 500px;
    height: 650px;
    background-size: contain;
}

.show-stick2 {
    background: url('../img/show_stick2.png') no-repeat center center;
    width: 500px;
    height: 650px;
    background-size: contain;
}

.show-stick3 {
    background: url('../img/show_stick3.png') no-repeat center center;
    width: 500px;
    height: 650px;
    background-size: contain;
}

.show-duck {
    background: url('../img/show_duck.png') no-repeat center center;
    width: 350px;
    height: 300px;
    background-size: contain;
    top: -150px;

    &:before {
        content: "Do you heard about rubber duck debugging before? \A Programmer debug their code by explain to the duck line-by-line. \A It's really cute, I would like to have one.";
        @extend %textBefore;
        top: 310px;
        left: -200px;
        line-height: 1.5;
    }
}

.show-coffee {
    background: url('../img/show_coffee2.png') no-repeat center center;
    width: 350px;
    height: 300px;
    background-size: contain;

    &:before {
        content: "Hmmmm... \A programmers are persons that convert caffeine into code, \A one of my colleagues needs four cups of coffe a day. ";
        @extend %textBefore;
        top: 310px;
        left: -200px;
        line-height: 1.5;
    }
}

.show-octocat {
    background: url('../img/show_octocat.jpg') no-repeat center center;
    width: 600px;
    height: 600px;
    background-size: contain;
    top: -150px;

    &:before {
        content: "Company held a greening environmental competition, \A I spent my vacation to post a ocotocat on th wall by stickers, \A and I got the prize!";
        @extend %textBefore;
        top: 610px;
        left: -100px;
        line-height: 1.5;
    }
}

.show-capoo {
    background: url('../img/show_capoo.gif') no-repeat center center;
    width: 500px;
    height: 500px;
    background-size: contain;
    top: -150px;

    &:before {
        content: "Capoo also calls bugcat, it's a creature looks like a cat or bug, \A he loves eats meats and junk foods, sometimes he eats his friend Dogdog...\A This cute creature was created by a Taiwanese - Yara";
        @extend %textBefore;
        top: 467px;
        left: -180px;
        line-height: 1.5;
    }
}

.show-keyboard {
    background: url('../img/show_keyboard.png') no-repeat center center;
    width: 800px;
    height: 800px;
    background-size: contain;
    top: -150px;

    &:before {
        content: "My lovely filco ninja majestouch 2 cherry MX blue mechanical Keyboard \A with side printed gradient keycaps, I also changeded esc to a cat's paw, \A you will get the soft feeling from the slowly rebounding of the cat palm keycap.";
        @extend %textBefore;
        top: 650px;
        left: -180px;
        line-height: 1.5;
    }
}

.show-mouse {
    background: url('../img/show_mouse.jpg') no-repeat center center;
    width: 600px;
    height: 600px;
    background-size: contain;
    top: -150px;

    &:before {
        content: "Literally a mouse. \A His name is less sugar, he accompanied me through many difficulties, \A although he has passed away, he always in the bottom of my heart.";
        @extend %textBefore;
        top: 620px;
        left: -150px;
        line-height: 1.5;
    }
}

.show-leftBooks {
    background: url('../img/show_leftBooks.png') no-repeat center center;
    width: 600px;
    height: 600px;
    background-size: contain;
}

.show-rightBooks {
    background: url('../img/show_rightBooks.png') no-repeat center center;
    width: 600px;
    height: 600px;
    background-size: contain;
}

.show-notebooks {
    font-family: "Monaco", "Trebuchet MS", "Constantia", sans-serif;
    position: fixed !important;
    height: 700px !important;
    width: 800px !important;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    font-size: 1.5rem;
}

// Rose
.rose_svg {
    position: fixed;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(12px 12px 20px rgba(241, 152, 234, 0.7));
    z-index: 2;
    animation: shining 8s infinite;

    &.withering{
        filter: drop-shadow(12px 12px 20px rgba(142, 139, 142, 0.7));
        animation: none;
    }
}

@keyframes shining {
    0% {
        filter: drop-shadow(0 0 40px rgba(214, 214, 214, 0.7));
    }
    25% {
        filter: drop-shadow(0px 0px 20px rgba(241, 152, 234, 0.7));
    }
    50% {
        filter: drop-shadow(0 0 40px rgba(214, 214, 214, 0.7));
    }
    75% {
        filter: drop-shadow(0px 0px 20px rgba(95, 209, 255, 0.7));
    }
    100% {
        filter: drop-shadow(0 0 40px rgba(214, 214, 214, 0.7));
    }
}

.rose_options {
    position: fixed;
    width: 450px;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 2;

    .option {
        position: absolute;
        width: 170px;
        height: 30px;
        border-radius: 10px;
        background: #eee;
        line-height: 33px;
        text-align: center;
        font-size: 1.4rem;
        transition: .5s;
        cursor: pointer;

        &.option_water {
            top: 50px;
        }

        &:hover {
            background: #78c8ca;
        }

        &.option_text {
            position: absolute;
            background: none;
            width: max-content;
            top: -50px;
            left: 5px;
            color: #f6f6f6;
            font-size: 1.8rem;
        }
    }
}

// Phone
.show-phone {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 600px;
    margin: auto;
    background: #0d151d;
    box-shadow :5px 5px 0 #768693;
    color: #474c57;
    border: 0 solid #0d151d;
    border-width: 45px 15px 60px;
    border-radius :20px;
    z-index: 2;
    font-family: "Open Sans", "Trebuchet MS", Arial, 'PMingLiU', sans-serif;

    .phoneCamera {
        width: 20px;
        height: 20px;
        box-shadow :0 0 1px 3px #a09f9f inset;
        background: #fff;
        border-radius:100%;
        position: absolute;
        top: -31px;
        left: 8%;
    }

    .chatBlock {
        color: #000;
        height: 60%;
        position: relative;
        background: #EFE7DF url('../img/phoneBg.jpg') repeat;

        .chatRoom {
            height: 100%;
            overflow-y: auto;

            .chatList {
                padding: 10px;
                list-style: none;
                min-height: 100%;
                margin-bottom: -51px;

                &:after {
                    content: '';
                    display: block;
                    height: 51px;
                }

                li {
                    margin: 0 0 10px;
                    text-align: left;

                    span {
                        background-color: #1abc9c;
                        border-radius :3px;
                        color: #fff;
                        display: inline-block;
                        font-size: 1rem;
                        padding: 6px 12px;
                    }

                    &.userInput {
                        text-align: right;

                        span {
                            background-color: #16a085;
                        }
                    }
                }

                .content {
                    line-height: 1.5;
                }
            }
        }

        .chatFoo {
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #fff;
            height: 50px;
            width: 100%;

            .icons, .inputBlock {
                float: left;
            }

            .icons {
                cursor: pointer;
                font-size: 20px;
                line-height: 50px;
                text-align: center;
                width: 13%;
                color: #7d8488;
                position: relative;
                z-index: 1;

                &.plane {
                    cursor: default;
                    opacity :.25;

                    &.act {
                        color: #16a085;
                        opacity :1;
                    }

                    &.err {
                        color: #c0392b;
                    }

                    &.sending {
                        color: #2ecc71;
                    }
                }
            }

            .inputBlock {
                margin: 0 auto;
                width: 74%;
                position: relative;

                input[type="text"] {
                    background: #fff;
                    outline: 1px solid #eee;
                    border: 0;
                    font-size: 1rem;
                    margin: 10px 0;
                    height: 30px;
                    padding: 0 10px;
                    width: 90%;
                }
            }

            .send {
                display: none;
                background: #fff;
                position: absolute;
                left: 16px;
                top: 1px;
                padding: 2px 0;
                width: 100%;
                font-size: 1rem;
            }

            .send {
                color: #16a085;
            }

            .inputSending {
                &.act {
                    display: block;
                }
            }
        }
    }

    .text {
        display: inline-block;
        background: #39c0d6;
        padding: 6px 10px;
        border-radius :15px;
        margin: 15px 5px 1px;
        color: #fff;
        box-shadow :2px 2px 0 #21776b;
        float: left;
        cursor: pointer;

        &:hover {
            box-shadow: none;
            position: relative;
            top: 2px;
            left: 2px;
        }
    }

    .text2 {
        background: #be89d4;
        box-shadow :2px 2px 0 #9a547a;
    }

    .text3 {
        background: #eca84c;
        box-shadow :2px 2px 0 #ec9018;
    }
}
