.show-phone {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 600px;
    margin: auto;
    background: #0d151d;
    box-shadow :5px 5px 0 #768693;
    color: #474c57;
    border: 0 solid #0d151d;
    border-width: 45px 15px 60px;
    border-radius :20px;
    z-index: 2;
    font-family: "Open Sans", "Trebuchet MS", Arial, 'PMingLiU', sans-serif;

    .phoneCamera {
        width: 20px;
        height: 20px;
        box-shadow :0 0 1px 3px #a09f9f inset;
        background: #fff;
        border-radius:100%;
        position: absolute;
        top: -31px;
        left: 8%;
    }

    .chatBlock {
        color: #000;
        height: 60%;
        position: relative;
        background: #EFE7DF url('../img/phoneBg.jpg') repeat;

        .chatRoom {
            height: 100%;
            overflow-y: auto;

            .chatList {
                padding: 10px;
                list-style: none;
                min-height: 100%;
                margin-bottom: -51px;

                &:after {
                    content: '';
                    display: block;
                    height: 51px;
                }

                li {
                    margin: 0 0 10px;
                    text-align: left;

                    span {
                        background-color: #1abc9c;
                        border-radius :3px;
                        color: #fff;
                        display: inline-block;
                        font-size: 1rem;
                        padding: 6px 12px;
                    }

                    &.userInput {
                        text-align: right;

                        span {
                            background-color: #16a085;
                        }
                    }
                }

                .content {
                    line-height: 1.5;
                }
            }
        }

        .chatFoo {
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #fff;
            height: 50px;
            width: 100%;

            .icons, .inputBlock {
                float: left;
            }

            .icons {
                cursor: pointer;
                font-size: 20px;
                line-height: 50px;
                text-align: center;
                width: 13%;
                color: #7d8488;
                position: relative;
                z-index: 1;

                &.plane {
                    cursor: default;
                    opacity :.25;

                    &.act {
                        color: #16a085;
                        opacity :1;
                    }

                    &.err {
                        color: #c0392b;
                    }

                    &.sending {
                        color: #2ecc71;
                    }
                }
            }

            .inputBlock {
                margin: 0 auto;
                width: 74%;
                position: relative;

                input[type="text"] {
                    background: #fff;
                    outline: 1px solid #eee;
                    border: 0;
                    font-size: 1rem;
                    margin: 10px 0;
                    height: 30px;
                    padding: 0 10px;
                    width: 90%;
                }
            }

            .send {
                display: none;
                background: #fff;
                position: absolute;
                left: 11px;
                top: -2px;
                padding: 2px 0;
                width: 100%;
                font-size: 1rem;
            }

            .send {
                color: #16a085;
            }

            .inputSending {
                &.act {
                    display: block;
                }
            }
        }
    }

    .text {
        display: inline-block;
        background: #39c0d6;
        padding: 6px 10px;
        border-radius :15px;
        margin: 15px 5px 1px;
        color: #fff;
        box-shadow :2px 2px 0 #21776b;
        float: left;
        cursor: pointer;

        &:hover {
            box-shadow: none;
            position: relative;
            top: 2px;
            left: 2px;
        }
    }

    .text2 {
        background: #be89d4;
        box-shadow :2px 2px 0 #9a547a;
    }

    .text3 {
        background: #eca84c;
        box-shadow :2px 2px 0 #ec9018;
    }
}
