body::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
  content:url('../img/show_pic1.png') url('../img/show_pic2.png') url('../img/show_pic2.png') url('../img/show_pic3.png') url('../img/show_stick1.png') url('../img/show_stick2.png') url('../img/show_stick3.png') url('../img/show_duck.png') url('../img/show_coffee2.png') url('../img/show_octocat.jpg') url('../img/show_capoo.gif') url('../img/show_keyboard.png') url('../img/show_mouse.jpg') url('../img/show_leftBooks.png') url('../img/show_rightBooks.png') url('../img/show_certificate.png') url('../img/show_computer.png') url("../img/youtube_icon.png") url("../img/portfolio_icon.png") url("../img/medium_icon.jpg") url("../img/youtube.png") url("../img/uiux_design.png") url("../img/phpstorm.png") url("../img/photoshop.png") url("../img/gitBash.png") url("../img/windows_icon.png") url("../img/illustrator_Icon.png") url("../img/steam_icon.png") url("../img/chrome_icon.png") url("../img/phpstorm_icon.png") url("../img/photoshop_icon.png") url("../img/gitbash_icon.png") url('../img/phoneBg.jpg') url('./../img/magnifier.png');
}

.mobileWrapper {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background: #000;
  flex-direction: row;
  width: 100vw;
  height: 100vh;

  .mobileDesc {
    font-family: "Comic Sans MS", "Constantia", sans-serif;
    color: #f6f6f6;
    margin: auto;
    text-align: center;
    width: 90%;
    line-height: 1.5;
  }

  .mobileBg {
    background: url('../../Interactive_Resume_Gif.gif') no-repeat center center;
    width: 100%;
    background-size: contain;
  }

}

.introMask {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  cursor: url('../img/close.png'), pointer;

  p {
    font-family: "Comic Sans MS", "Constantia", sans-serif;
    margin: auto;
    text-align: center;
    font-size: 40px;
    color: #fff;
    position: absolute;
    line-height: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
      color: #ff2b2b;
    }
  }
}

.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  cursor: url('../img/close.png'), pointer;
}

.show {
  background-size: contain;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

%textBefore {
  content: "";
  white-space: pre;
  display: inline-block;
  font-size: 2.2rem;
  color: #f6f6f6;
  position: absolute;
  top: 480px;
  line-height: 1.5;
}

.show-pic1,
.show-pic2,
.show-pic3 {
  background: url('../img/show_pic1.png') no-repeat center center;
  width: 550px;
  height: 650px;
  background-size: contain;
  top: -120px;
  

  &:before {
    @extend %textBefore;
    left: -100px;
  }
}

.show-pic1 {
  &:before {
    top: 620px;
    content: "I really love drawing, and I also sell my paintings as a postcards, \A stickers on Etsy and Line creators markets."
  }
}

.show-pic2 {
  background: url('../img/show_pic2.png') no-repeat center center;
  width: 700px;
  height: 500px;
  background-size: contain;
  top: -200px;

  &:before {
    content: "I like photography, this picture was taken Christmas in Berlin, Germany. \A The cold and deep water reflects all glitter lights, \A try to find myself in the reflection of that water, \A but immaculate brightness dazzled my eyes.";
  }
}

.show-pic3 {
  background: url('../img/show_pic3.png') no-repeat center center;
  height: 700px;
  background-size: contain;
  top: -120px;

  &:before {
    content: "Friends see me as clever and interesting person, \A the picture shows that I went to airport to pick up my friend \A with a cockroach costume";
    top: 680px;
  }
}

.show-stick1,
.show-stick2,
.show-stick3 {
  background: url('../img/show_stick1.png') no-repeat center center;
  width: 500px;
  height: 650px;
  background-size: contain;
}

.show-stick2 {
  background: url('../img/show_stick2.png') no-repeat center center;
  width: 500px;
  height: 650px;
  background-size: contain;
}

.show-stick3 {
  background: url('../img/show_stick3.png') no-repeat center center;
  width: 500px;
  height: 650px;
  background-size: contain;
}

.show-duck {
  background: url('../img/show_duck.png') no-repeat center center;
  width: 350px;
  height: 300px;
  background-size: contain;
  top: -150px;

  &:before {
    content: "Have you heard about rubber duck debugging before? \A It's a way programmer debugs their code by explaining to a duck line-by-line,\A it's a really helpful way to walk through the whole codebase logic.";
    @extend %textBefore;
    top: 310px;
    left: -200px;
    line-height: 1.5;
  }
}

.show-coffee {
  background: url('../img/show_coffee2.png') no-repeat center center;
  width: 350px;
  height: 300px;
  background-size: contain;

  &:before {
    content: "Hmmmm... \A programmers are persons that convert caffeine into code, \A one of my colleagues usually needs four cups of coffe a day. ";
    @extend %textBefore;
    top: 310px;
    left: -200px;
    line-height: 1.5;
  }
}

.show-octocat {
  background: url('../img/show_octocat.jpg') no-repeat center center;
  width: 600px;
  height: 600px;
  background-size: contain;
  top: -150px;

  &:before {
    content: "Once company held a greening environmental competition, \A I spent my consecutive holidays to design and post an ocotocat on the wall by stickers, \A and I got the prize!";
    @extend %textBefore;
    top: 610px;
    left: -100px;
    line-height: 1.5;
  }
}

.show-capoo {
  background: url('../img/show_capoo.gif') no-repeat center center;
  width: 500px;
  height: 500px;
  background-size: contain;
  top: -150px;

  &:before {
    content: "Capoo also calls bugcat, it's a creature looks like a cat or bug, \A he loves eating meats and junk foods, sometimes he eats his friend Dogdog...\A This cute creature was created by a Taiwanese illustrator - Yara";
    @extend %textBefore;
    top: 467px;
    left: -180px;
    line-height: 1.5;
  }
}

.show-keyboard {
  background: url('../img/show_keyboard.png') no-repeat center center;
  width: 800px;
  height: 800px;
  background-size: contain;
  top: -150px;

  &:before {
    content: "My lovely filco ninja majestouch 2 cherry MX blue mechanical Keyboard \A with side printed gradient keycaps, I also changeded esc key to a cat paw, \A the soft texture makes me feel relaxing.";
    @extend %textBefore;
    top: 650px;
    left: -180px;
    line-height: 1.5;
  }
}

.show-mouse {
  background: url('../img/show_mouse.jpg') no-repeat center center;
  width: 600px;
  height: 600px;
  background-size: contain;
  top: -150px;

  &:before {
    content: "Literally a mouse. \A His name is less sugar and he accompanied me through many difficulties, \A although he has passed away, he always in the bottom of my heart.";
    @extend %textBefore;
    top: 620px;
    left: -150px;
    line-height: 1.5;
  }
}

.show-leftBooks {
  background: url('../img/show_leftBooks.png') no-repeat center center;
  width: 600px;
  height: 600px;
  background-size: contain;
}

.show-rightBooks {
  background: url('../img/show_rightBooks.png') no-repeat center center;
  width: 600px;
  height: 600px;
  background-size: contain;
}

.show-notebooks {
  font-family: "Monaco", "Trebuchet MS", "Constantia", sans-serif;
  position: fixed !important;
  width: 800px !important;
  height: 550px !important;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.5rem;

  .msgPic {
    width: 150px;
    margin-top: 50px;
  }

  p {
    text-align: left;
    padding: 0 50px;
    line-height: 1.5;
    text-indent: 32px;
  }

  .msgBtn {
    position: absolute;
    width: 250px;
    height: 45px;
    background: #ef7d1b;
    font-size: 90%;
    line-height: 45px;
    text-align: left;
    text-indent: 30px;
    top: 10px;
    right: 10px;
    border-radius: 25px;
    color: #fbfbfb;
    box-shadow: 2px 2px 0 #ca650e;
    cursor: pointer;

    &:after {
      content: "\f054";
      font-family: FontAwesome;
      position: absolute;
      right: 30px;
      font-size: 1rem;
    }

    &:hover {
      box-shadow: none;
      top: 12px;
      right: 12px;
    }

    &:hover:after {
      animation: move .7s infinite;
    }

    @keyframes move {
      0% {
        right: 30px;
      }
      100% {
        right: 15px;
      }
    }
  }
}

.certificateBg {
  font-family: "Monaco", "Trebuchet MS", "Constantia", sans-serif, 'Noto Sans TC';
  background: url('../img/show_certificate.png') no-repeat center center;
  width: 800px;
  height: 800px;
  background-size: contain;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  margin: auto;
  font-size: 1.2rem;
  padding: 20px;
  overflow: hidden;
  line-height: 1.5;

  h1 {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  span {
    color: #da2f2f;
    font-weight: 600;
  }

  .experiences {
    position: absolute;
    top: 220px;
    width: 70%;
    margin: 20px;

    li {
      margin: 10px;
    }
  }

  .skillList {
    width: 80%;
    position: absolute;
    top: 396px;
    left: 48%;
    transform: translate(-50%, 0);
  }

  .contactInfo {
    position: absolute;
    top: 582px;
    left: 60%;
    line-height: 1.2;

    a {
      margin: 5px;
      display: flex;
      text-decoration: none;
      justify-content: center;
    }
  }

  .letter-image {
    position: absolute;
    bottom: 120px;
    left: 35%;
    width: 200px;
    height: 200px;
    transform: scale(0.5);
    cursor: pointer;
  }

  .animated-mail {
    position: absolute;
    height: 150px;
    width: 200px;
    transition: .4s;

    .body {
      position: absolute;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 100px 200px;
      border-color: transparent transparent #e95f55 transparent;
      z-index: 2;
    }

    .top-fold {
      position: absolute;
      top: 50px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 50px 100px 0 100px;
      transform-origin: 50% 0;
      transition: transform .4s .4s, z-index .2s .4s;
      border-color: #cf4a43 transparent transparent transparent;
      z-index: 2;
    }

    .back-fold {
      position: absolute;
      bottom: 0;
      width: 200px;
      height: 100px;
      background: #cf4a43;
      z-index: 0;
    }

    .left-fold {
      position: absolute;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 50px 0 50px 100px;
      border-color: transparent transparent transparent #e15349;
      z-index: 2;
    }

    .letter {
      left: 20px;
      bottom: 0;
      position: absolute;
      width: 160px;
      height: 60px;
      background: white;
      z-index: 1;
      overflow: hidden;
      transition: .4s .2s;

      .letter-border {
        height: 10px;
        width: 100%;
        background: repeating-linear-gradient(
                        -45deg,
                        #cb5a5e,
                        #cb5a5e 8px,
                        transparent 8px,
                        transparent 18px
        );
      }

      .letter-title {
        margin-top: 10px;
        margin-left: 5px;
        height: 10px;
        width: 40%;
        background: #cb5a5e;
      }

      .letter-context {
        margin-top: 10px;
        margin-left: 5px;
        height: 10px;
        width: 20%;
        background: #cb5a5e;
      }

      .letter-stamp {
        margin-top: 30px;
        margin-left: 120px;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        background: #cb5a5e;
        opacity: 0.3;
      }
    }
  }

  .shadow {
    position: absolute;
    top: 175px;
    left: 50%;
    width: 400px;
    height: 30px;
    transition: .4s;
    transform: translateX(-50%);
    border-radius: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
  }

  .letter-image:hover {
    .animated-mail {
      transform: translateY(30px);
    }

    .animated-mail .top-fold {
      transition: transform .4s, z-index .2s;
      transform: rotateX(180deg);
      z-index: 0;
    }

    .animated-mail .letter {
      height: 160px;
    }

    .shadow {
      width: 250px;
    }
  }
}

.noMsg {
  position: fixed;
  text-align: center;
  color: #d7dbdb;
  font-size: 2rem;
  top: 95px;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.disable {
  pointer-events: none;
}


