body {
    font-family: "Indie Flower", "Trebuchet MS", "Comic Sans MS", "Constantia", sans-serif;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    img {
        position: fixed;
        transition: .3s;
        cursor: url('./../img/magnifier.png'), pointer;

        &:hover {
            transform: scale(1.05);
            filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5))
        }
    }

    .wall {
        width: 100vw;
        height: 636px;
        background: #debfcf;

        .pic {
            width: 200px;
            top: 116px;
            left: 60px;

            &.pic2 {
                top: 10px;
                left: 233px;
            }

            &.pic3 {
                top: 160px;
                left: 303px;
            }
        }

        .leftBooks {
            width: 345px;
            top: 350px;
            left: 0;
        }

        .duck {
            width: 80px;
            top: 175px;
            left: 747px
        }

        .capoo {
            display: block;
            width: 220px;
            top: 113px;
            left: 948px;
            transition: .4s cubic-bezier(.78, -1.12, .22, 1.64);

            &:hover {
                transform: scale(1.2);
                top: 70px;
            }
        }

        .hint {
            display: block;
            width: 220px;
            top: 10px;
            left: 700px;
        }

        .computer {
            width: 550px;
            top: 252px;
            left: 700px;
        }

        .stick {
            width: 100px;
            top: 223px;
            left: 1394px;

            &.stick2 {
                top: 400px;
                left: 1350px;
            }

            &.stick3 {
                top: 460px;
                left: 1500px;
            }
        }

        .calender {
            top: 50px;
            left: 1590px;
        }

        .rightBooks {
            width: 320px;
            top: 327px;
            left: 1600px;
        }

    }

    .desk {
        width: 100vw;
        min-height: 301px;
        padding-bottom: 10%;
        background: #924b23;

        .lock {
            width: 226px;
            top: 417px;
            left: 360px;
            z-index: 1;
        }

        .rose {
            width: 200px;
            top: 400px;
            left: 580px;
            z-index: 1;
        }

        .papers {
            width: 420px;
            top: 680px;
            left: 75px;
        }

        .phone {
            width: 150px;
            top: 758px;
            left: 505px;
            animation: .7s vibration 15s 30;
        }

        @keyframes vibration {
            0% {left: 503px;}
            10% {left: 506px;}
            20% {left: 503px;}
            30% {left: 506px;}
            40% {left: 503px;}
            50% {left: 506px;}
            60% {left: 503px;}
            70% {left: 506px;}
            80% {left: 503px;}
            90% {left: 506px;}
            100% {left: 503px;}
        }

        .keyboard {
            width: 600px;
            top: 730px;
            left: 700px;
        }

        .mouse {
            width: 100px;
            top: 730px;
            left: 1320px;
        }

        .coffee {
            width: 100px;
            top: 580px;
            left: 1300px;
        }

        .notebooks {
            width: 300px;
            top: 700px;
            left: 1550px;
        }

        .octocat {
            width: 120px;
            top: 620px;
            left: 1450px;
        }
    }

    .text {
        position: fixed;
        text-align: center;
        top: 870px;
        color: #d7dbdb;
        left: 0;
        right: 0;
        font-size: 1.1rem;

        &.ref {
            top: 890px;

            a {
                color: #c7cbcb;
                font-size: 0.9rem;
            }
        }
    }
}