body {
    font-family: "Indie Flower", "Trebuchet MS", "Comic Sans MS", "Constantia", sans-serif;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    img {
        position: fixed;
        transition: .3s;
        cursor: url('./../img/magnifier.png'), pointer;

        &:hover {
            transform: scale(1.05);
            filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5))
        }
    }

    .wall {
        width: 100vw;
        height: 636px;
        background: #debfcf;

        .pic {
            width: 200px;
            top: 67px;
            left: 30px;

            &.pic2 {
                top: 10px;
                left: 233px;
            }

            &.pic3 {
                top: 185px;
                left: 230px;
            }
        }

        .leftBooks {
            width: 345px;
            top: 350px;
            left: 0;
        }

        .lamp {
            width: 450px;
            top: 147px;
            left: 410px;
            z-index: 1;
        }

        .duck {
            width: 80px;
            top: 580px;
            left: 650px;
            z-index: 1;
        }

        .capoo {
            display: block;
            width: 220px;
            top: 113px;
            left: 948px;
            transition: .4s cubic-bezier(.78, -1.12, .22, 1.64);

            &:hover {
                transform: scale(1.2);
                top: 70px;
            }
        }

        .computer {
            width: 550px;
            top: 252px;
            left: 700px;
        }

        .stick {
            width: 100px;
            top: 223px;
            left: 1394px;

            &.stick2 {
                top: 400px;
                left: 1350px;
            }

            &.stick3 {
                top: 460px;
                left: 1500px;
            }
        }

        .calender {
            top: 50px;
            left: 1590px;
        }

        .rightBooks {
            width: 320px;
            top: 327px;
            left: 1600px;
        }

    }

    .desk {
        width: 100vw;
        min-height: 301px;
        padding-bottom: 10%;
        background: #924b23;

        .papers {
            width: 420px;
            top: 680px;
            left: 75px;
        }

        .phone {
            width: 150px;
            top: 720px;
            left: 550px;
        }

        .keyboard {
            width: 600px;
            top: 730px;
            left: 700px;
        }

        .mouse {
            width: 100px;
            top: 730px;
            left: 1320px;
        }

        .coffee {
            width: 100px;
            top: 580px;
            left: 1300px;
        }

        .notebooks {
            width: 300px;
            top: 700px;
            left: 1550px;
        }

        .octocat {
            width: 120px;
            top: 620px;
            left: 1450px;
        }
    }

    .text {
        position: fixed;
        text-align: center;
        top: 870px;
        color: #d7dbdb;
        left: 0;
        right: 0;
        font-size: 1.1rem;

        &.ref {
            top: 890px;

            a {
                color: #c7cbcb;
                font-size: 0.9rem;
            }
        }
    }
}

// Display
.mask {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    cursor: url('./../img/close.png'), pointer;
}

.show {
    background-size: contain;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

%textBefore {
    content: "";
    white-space: pre;
    display: inline-block;
    font-size: 2.2rem;
    color: #f6f6f6;
    position: absolute;
    top: 480px;
    line-height: 1.5;
}

.show-pic1,
.show-pic2,
.show-pic3 {
    background: url('../img/show_pic1.png') no-repeat center center;
    width: 500px;
    height: 650px;
    background-size: contain;

    &:before {
        @extend %textBefore
    }
}

.show-pic2 {
    background: url('../img/show_pic2.png') no-repeat center center;
    width: 700px;
    height: 500px;
    background-size: contain;

    &:before {
        content: "The cold and deep water reflects all glitter lights, \A try to find myself in the reflection of that water, \A but immaculate brightness dazzled my eyes. \A - Christmas in Berlin, Germany";
    }
}

.show-pic3 {
    background: url('../img/show_pic3.png') no-repeat center center;
    height: 700px;
    background-size: contain;
    top: -200px;

    &:before {
        content: "";
        top: 660px;
    }
}

.show-stick1,
.show-stick2,
.show-stick3 {
    background: url('../img/show_stick1.png') no-repeat center center;
    width: 500px;
    height: 650px;
    background-size: contain;
}

.show-stick2 {
    background: url('../img/show_stick2.png') no-repeat center center;
    width: 500px;
    height: 650px;
    background-size: contain;
}

.show-stick3 {
    background: url('../img/show_stick3.png') no-repeat center center;
    width: 500px;
    height: 650px;
    background-size: contain;
}

.show-duck {
    background: url('../img/show_duck.png') no-repeat center center;
    width: 350px;
    height: 300px;
    background-size: contain;
    top: -150px;

    &:before {
        content: "Do you heard about rubber duck debugging before? \A Programmer debug their code by explain to the duck line-by-line. \A It's really cute, I would like to have one.";
        @extend %textBefore;
        top: 310px;
        left: -200px;
        line-height: 1.5;
    }
}

.show-coffee {
    background: url('../img/show_coffee2.png') no-repeat center center;
    width: 350px;
    height: 300px;
    background-size: contain;

    &:before {
        content: "Hmmmm... \A programmers are persons that convert caffeine into code, \A one of my colleagues needs four cups of coffe a day. ";
        @extend %textBefore;
        top: 310px;
        left: -200px;
        line-height: 1.5;
    }
}

.show-octocat {
    background: url('../img/show_octocat.jpg') no-repeat center center;
    width: 600px;
    height: 600px;
    background-size: contain;
    top: -150px;

    &:before {
        content: "Company held a greening environmental competition, \A I spent my vacation to post a ocotocat on th wall by stickers, \A and I got the prize!";
        @extend %textBefore;
        top: 610px;
        left: -100px;
        line-height: 1.5;
    }
}

.show-capoo {
    background: url('../img/show_capoo.gif') no-repeat center center;
    width: 500px;
    height: 500px;
    background-size: contain;
    top: -150px;

    &:before {
        content: "Capoo also calls bugcat, it's a creature looks like a cat or bug, \A he loves eats meats and junk foods, sometimes he eats his friend Dogdog...\A This cute creature was created by a Taiwanese - Yara";
        @extend %textBefore;
        top: 467px;
        left: -180px;
        line-height: 1.5;
    }
}

.show-keyboard {
    background: url('../img/show_keyboard.png') no-repeat center center;
    width: 800px;
    height: 800px;
    background-size: contain;
    top: -150px;

    &:before {
        content: "My lovely filco ninja majestouch 2 cherry MX blue mechanical Keyboard \A with side printed gradient keycaps, I also changeded esc to a cat's paw, \A you will get the soft feeling from the slowly rebounding of the cat palm keycap.";
        @extend %textBefore;
        top: 650px;
        left: -180px;
        line-height: 1.5;
    }
}

.show-notebooks {
    font-family: "Monaco", "Trebuchet MS", "Constantia", sans-serif;
    position: fixed !important;
    height: 700px !important;
    width: 800px !important;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    font-size: 1.5rem;
}

.show-computer {
    font-family: "Monaco", "Trebuchet MS", "Constantia", sans-serif;
    background: url('../img/show_computer.png') no-repeat center center;
    width: 800px;
    height: 700px;
    background-size: contain;
    font-size: 1.2rem;

    .pwdTab {
        background: #333;
        width: 736px;
        height: 435px;
        border-radius: 30px 30px 0 0;
        position: relative;
        top: 101px;
        left: 32px;

        .textInput {
            display: block;
            margin: auto;
            width: 300px;
            height: 40px;
            position: relative;
            padding-left: 10px;
            top: 200px;
            border-width: 0;
            outline: none;
        }

        .submitInput {
            background-color: #78c8ca;
            display: block;
            margin: auto;
            width: 100px;
            height: 30px;
            position: relative;
            padding-left: 10px;
            border-radius: 10px;
            top: 210px;
            border-width: 0;
            outline: none;
            cursor: pointer;
        }

        p {
            position: relative;
            margin: 20px auto auto;
            text-align: center;
            top: 195px;
            color: #f6f6f6;
        }
    }

    %triggerBefore {
        background-size: contain;
        display: inline-block;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 3px;
        left: 10px;
    }

    .trigger {
        background: #c7cbcb;
        display: inline-block;
        width: 120px;
        height: 20px;
        position: relative;
        border-radius: 5px 5px 0 0;
        top: 107px;
        left: 57px;
        font-size: 0.8rem;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
        z-index: 1;

        &:before {
            content: "";
            background: url("../img/youtube_icon.png") no-repeat center center;
            background-size: contain;
            @extend %triggerBefore
        }
    }

    .portfolioTrigger {
        top: 107px;
        left: 56px;

        &:before {
            content: "";
            background: url("../img/portfolio_icon.png") no-repeat center center;
            background-size: contain;
            @extend %triggerBefore;
            top: 3px;
            left: 7px;
        }
    }

    .uiuxDesignTrigger {
        top: 107px;
        left: 56px;

        &:before {
            content: "";
            background: url("../img/medium_icon.jpg") no-repeat center center;
            background-size: contain;
            @extend %triggerBefore;
            top: 3px;
            left: 7px;
        }
    }

    .triggerActive {
        background: #fff;
    }

    .tab {
        background: #fff;
        width: 736px;
        height: 406px;
        border-radius: 10px 10px 0 0;
        position: relative;
        top: 103px;
        left: 32px;
    }

    .youtubeTab {

        .youtubeBg {
            background: url("../img/youtube.png") no-repeat center center;
            width: 723px;
            height: 746px;
            background-size: contain;
            border-radius: 10px 10px 0 0;
            position: relative;
            top: -170px;
            left: 3px;

            iframe {
                position: relative;
                top: 217px;
                left: 38px;
            }
        }
    }

    .portfolioTab {
        top: 107px;
        left: 32px;
        height: 400px;

        iframe {
            position: relative;
            top: 0;
            left: 0;
            border-radius: 10px 10px 0 0;
            border: 0;
        }
    }

    .uiuxDesignTab {
        background: #fff url("../img/uiux_design.png") no-repeat center center;
        width: 734px;
        height: 402px;
        background-size: contain;
        border-radius: 10px 10px 0 0;
        position: relative;
        top: 107px;
        left: 33px;
    }

    .item {
        width: 737px;
        height: 477px;
        border-radius: 10px 10px 0 0;
        position: relative;
        top: 46px;
        left: 32px;
        z-index: 2;
    }

    .phpstormItem {
        background: url("../img/phpstorm.png") no-repeat center center;
        background-size: contain;
    }

    .photoshopItem {
        background: url("../img/photoshop.png") no-repeat center center;
        background-size: contain;
    }

    .gitBashItem {
        background: url("../img/gitBash.png") no-repeat center center;
        background-size: contain;
    }

    .bottom {
        background: #2b2a2a;
        display: inline-block;
        width: 738px;
        height: 25px;
        position: absolute;
        bottom: 167px;
        left: 31px;
        cursor: pointer;
        z-index: 2;
        cursor: pointer;

        .obj {
            position: absolute;
            bottom: 0;
            width: 30px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            font-size: 0.8rem;
            color: #fff;
            margin: 0 10px;

            &:before {
                content: "";
                background: url("../img/windows_icon.png") no-repeat center center;
                background-size: contain;
                @extend %triggerBefore;
                width: 13px;
                height: 13px;
                top: 7px;
                left: 7px;
            }
        }

        .illustratorObj {
            left: 30px;

            &:before {
                content: "";
                background: url("../img/illustrator_Icon.png") no-repeat center center;
                background-size: contain;
            }
        }

        .steamObj {
            left: 60px;

            &:before {
                content: "";
                background: url("../img/steam_icon.png") no-repeat center center;
                background-size: contain;
            }
        }

        .chromeObj {
            width: 120px;
            left: 100px;

            &:before {
                content: "";
                background: url("../img/chrome_icon.png") no-repeat center center;
                background-size: contain;
            }
        }

        .phpstormObj {
            width: 120px;
            left: 220px;
            background: #333;

            &:before {
                content: "";
                background: url("../img/phpstorm_icon.png") no-repeat center center;
                background-size: contain;
            }
        }

        .photoshopObj {
            width: 120px;
            left: 340px;
            background: #333;

            &:before {
                content: "";
                background: url("../img/photoshop_icon.png") no-repeat center center;
                background-size: contain;
            }
        }

        .gitbashObj {
            width: 120px;
            left: 460px;
            background: #333;

            &:before {
                content: "";
                background: url("../img/gitbash_icon.png") no-repeat center center;
                background-size: contain;
            }
        }

        .timeObj {
            width: 151px;
            left: 578px;
            background: #333;
            margin-right: 10px;

            &:before {
                content: "";
                background: url("../img/computer_icon.png") no-repeat center center;
                background-size: contain;
                left: -8px;
            }
        }

        .objActive {
            background: #585858;
        }

    }
}
